<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhythm.quest.capstoneproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppFullScreenTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="landscape">

            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirebaseUIActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectMode"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".TutorialMode"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LeaderboardMode"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MusicBoxMode"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ConfigMode"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Freeplay_Game"
            android:screenOrientation="landscape" />

        <service
            android:name=".BackgroundSoundService"
            android:enabled="true" />

        <activity android:name=".RateUs"></activity>
    </application>

</manifest>